--extra-index-url https://download.pytorch.org/whl/cpu
# It is recommended to install pytorch with the appropriate index-url for your system
# e.g. pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
ale-py==0.11.2
alembic==1.16.4
annotated-types==0.7.0
click==8.2.1
cloudpickle==3.1.1
colorlog==6.9.0
contourpy==1.3.3
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.18.0
fonttools==4.59.0
fsspec==2025.7.0
greenlet==3.2.3
gymnasium==1.2.0
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.9
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.5
mpmath==1.3.0
mypy-extensions==1.1.0
narwhals==2.1.1
networkx==3.5
numpy==2.3.2
optuna==4.4.0
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
plotly==6.3.0
pydantic==2.11.7
pydantic-core==2.33.2
pygame==2.6.1
Pygments==2.19.2
pyhocon==0.3.59
pyparsing==2.4.7
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6-sip==13.10.2
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
torch==2.8.0+cpu
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
watchdog==6.0.0
